/* Name: Oscar Liang */
/* zID: z5363102 */

html,
input,
button,
table {
    font-family: "Open Sans", "Segoe UI", sans-serif; /* Change font to a more modern font */
    font-size: 30px; /* Change font size so that more of the screen is covered */
    text-align: center; /* Aligns everything to centre */
}

input,
button {
    vertical-align: middle;
    margin: 5px;
}

h2 {
    font-size: 40px;
    margin: 10px 0px;
}

h3,
pre {
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", "Segoe UI", sans-serif; /* Change font to a more modern font */
}

table {
    margin: auto;
}

#remove_div input,
label {
    font-size: 20px;
}

td,
th {
    font-size: 25px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

#restaurant_form_div {
    font-size: 20px;
    padding-bottom: 20px;
}

#restaurant_form_div input {
    font-size: 20px;
}

.overlay {
    /*Code borrowed from Life Simulator, which was borrowed from a source online that I forgot*/
    /*The overlay dims the screen when active, also contains the specified tab*/
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    animation-name: overlay_animation;
    animation-duration: 1s;
}

.tab {
    /* Code borrowed from Life Simulator, an old high school project of mine */
    position: fixed;
    display: fixed;
    width: 40%;
    height: 60%;
    left: 30%;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.7);
    animation-name: tab_animation;
    animation-duration: 1s;
    overflow-x: hidden;
    overflow-y: auto;
}

#restaurant_container {
    position: relative;
    left: 3%;
    width: 94%;
}

/*Code borrowed from Life Simulator, an old high school project of mine*/
@keyframes overlay_animation {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes tab_animation {
    from {
        left: -60%;
    }

    to {
        left: 30%;
    }
}
