:root {
    --color-btn-text: #c9d1d9;
    --color-btn-bg: #21262d;
    --color-btn-border: rgba(240, 246, 252, 0.1);
    --color-btn-hover-bg: #30363d;
}

body {
    background-color: var(--color-btn-bg);
    color: rgb(194, 203, 211);
    font-family: fantasy;
}

input[type='submit'] {
    color: var(--color-btn-outline-text);
    border-color: var(--color-btn-border);
    cursor: pointer;
    margin: 5px;
}

input[type='submit']:hover {
    background-color: var(--color-btn-hover-bg);
}

input, button {
    background-color: var(--color-btn-bg);
    border: 1px solid white;
    border-radius: 4px;
}